# Gmail SMTP Configuration
# Get Gmail App Password: https://myaccount.google.com/apppasswords
SMTP_HOST="smtp.gmail.com"
SMTP_PASS="samx njiy ggnv qsud"
SMTP_PORT="587"
SMTP_USER="noreply.moksh.project@gmail.com"
EMAIL_TO="mokshbhardwaj2333@gmail.com"

# Environment (optional)
NODE_ENV=production
